Django
django-extensions
djangorestframework
python-decouple
django-jazzmin
drf-material
icecream
uvicorn
gunicorn
whitenoise
django-debug-toolbar
django-cors-headers
django-import-export[all]
django-schema-viewer
drf-spectacular[sidecar]
django-filter
djangorestframework-jsonapi[django-filter]
Pillow
django-unfold
